* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color:#2e2f39;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
.count {
  color:white;
}
.greeting{
  position: relative;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg,#BE3455, #fff, #BE3455);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  margin-bottom: 30px;
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.level-one {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  width: 500px;
  height: 450px;
  perspective: 1000px;
}
.level-two{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  width: 650px;
  height: 450px;
  perspective: 1000px;
}
.level-three{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: auto;
  width: 800px;
  height: 450px;
  perspective: 1000px;
}
.card-wrapper{
  width: calc(75% - 10px);
  height: calc(23% -10px);
  border-radius: 10px;
  position: relative;
  margin:10px;
  transform: scale(1);
  transform-style:preserve-3d;
  transition: transform 0.3s;
}
.card-wrapper:hover{
  cursor: pointer;
}
.card-wrapper:active {
  cursor: pointer;
  transform: scale(0.97);
  transition: transform 0.2s;
}
.card-wrapper.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}
.front{
  background-image: url('./assets/front.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color:#BE3455;
}

.winner{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
  padding-top: 150px;
  display: none;
  animation: win 3s linear 2;
  color:#BE3455;
  margin-bottom: 50px;
  letter-spacing: 10px;
}
@keyframes win {
  0% {
    transform: scale(0.7) 
  translateY(-200%);
  background-position: -500%;
}
100% {
  transform: scale(1);
  background-position: 500%;
}}

.score {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.container{
  margin: 0 auto;
  width: 1200px;
  
}
.title-level{
  margin-bottom: 30px;
  color: #BE3455;
  font-size: 30px;
  text-transform: uppercase;
}
.count {
  color: #BE3455;
  font-size: 24px;
  text-transform: uppercase;
}
@media(max-width:500px){
  .level-one {
    width: 400px;
  }
  .level-two{
    width: 550px;
  }
  .level-three{
    grid-template-columns: repeat(5, 1fr);
    width: 550px;
  }
}

