* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color:#2e2f39;
  display: flex;
}
.count {
  color:white;
}
.level-one {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  width: 500px;
  height: 450px;
  perspective: 1000px;
  
}
.level-two{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  width: 650px;
  height: 450px;
  perspective: 1000px;
 /* display: none; */
}
.level-three{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: auto;
  width: 800px;
  height: 450px;
  perspective: 1000px;
  /* display: none; */
}
.card-wrapper{
  width: calc(75% - 10px);
  height: calc(23% -10px);
  border-radius: 10px;
  position: relative;
  margin:10px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  background-color:#BE3455;
}

.card-wrapper:hover{
  cursor: pointer;
}
.card-wrapper:active {
  cursor: pointer;
  transform: scale(0.97);
  transition: transform 0.2s;
}
.card-wrapper.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}
.card-memory-two{
  display: none;
}
.winner{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
  padding-top: 100px;
  display: none;
  animation: win 3s linear 2;
  color:#BE3455;
  

  margin-bottom: 50px;
  letter-spacing: 5px;
  
  /* translateY(-10%); */
}
@keyframes win {
0% {
  
  color:#BE3455;
  transform: scale(0.7) 
  translateY(-200%);
}
10%,
40%{
  color:#BE3455;
  text-shadow: 0 0 5px #BE3455, 0 0 10px  #BE3455, 0 0 15px  #BE3455;
  
}
55% {
  color:#BE3455;
  text-shadow: 0 0 5px  #BE3455, 0 0 10px  #BE3455, 0 0 15px #BE3455;
  transform: scale(1.1);
}
/* 50%{
  opacity: 1;
  color: aquamarine;
  transform: scale(1.3)
} */
13%,
42%,
57% {
  color:#BE3455;;
  text-shadow: 0 0 5px  #BE3455, 0 0 10px  #BE3455, 0 0 15px #BE3455, 0 0 20px #74053e,
  0 0 30px #74053e, 0 0 40px #74053e, 0 0 55px #74053e, 0 0 75px #74053e;

}
100%{
  /* color: #BE3455; */
  color:#BE3455;;
  text-shadow: 0 0 5px  #BE3455, 0 0 10px #BE3455, 0 0 15px  #BE3455, 0 0 20px #74053e,
  0 0 30px #74053e, 0 0 40px #74053e, 0 0 55px #74053e, 0 0 75px #74053e;

  transform: scale(1);
}
}
@keyframes flicker {
  13%,
  42%,
  57% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #74053e,
    0 0 30px #74053e, 0 0 40px #74053e, 0 0 55px #74053e, 0 0 75px #74053e;
  }
  10%,
  40%,
  55% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;;
  }
}
/* div{
  width: 10px;
  height: 10px;
  position: fixed;
  top: -15px;
  box-shadow: 0px 0px 2px #444;
  -webkit-animation: floating 2s ease-in, rotating .5s ease-in-out infinite;
} */
.score {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.container{
  margin: 0 auto;
  width: 1200px;
  
}
.title-level{
  margin-bottom: 30px;
  color: #BE3455;
  font-size: 30px;
  text-transform: uppercase;
}
.count {
  margin-bottom: 30px;
  color: #BE3455;
  font-size: 24px;
  text-transform: uppercase;
}

/* @keyframes confetti-slow {
  0%{
    transform:translate3d(0,0,0) rotateX(0) rotateY(0)
  }
  100%{
    transform:translate3d(25px,105vh,0) rotateX(360deg) rotateY(180deg)
  }
}
@keyframes confetti-medium {
  0%{
    transform:translate3d(0,0,0) rotateX(0) rotateY(0)
  }
  100%{
    transform:translate3d(100px,105vh,0) rotateX(100deg) rotateY(360deg)
  }
}
@keyframes confetti-fast {
  0%{
    transform:translate3d(0,0,0) rotateX(0) rotateY(0)
  }
  100%{
    transform:translate3d(-50px,105vh,0) rotateX(10deg) rotateY(250deg)
  }
}
.confetti-container {
  perspective: 700px;
  position: absolute;
  overflow: hidden;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1000px;
}
.confetti{
  position: relative;
  z-index: 1;
  top:-10px;
  border-radius: 0;
}
.confetti-animation-slow{
  animation: confetti-slow 2.25s linear 1 forwards;
}
.confetti-animation-medium{
  animation: confetti-medium 1.75s linear 1 forwards;
}
.confetti-animation-fast{
  animation: confetti-fast 1.25s linear 1 forwards;
} */