* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color:#2e2f39;
  display: flex;
}
.count {
  color:white;
}
.level-one {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
  width: 500px;
  height: 450px;
  perspective: 1000px;
  
}
.level-two{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
  width: 650px;
  height: 450px;
  perspective: 1000px;
 display: none;
}
.level-three{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: auto;
  width: 800px;
  height: 450px;
  perspective: 1000px;
  display: none;
}
.card-wrapper{
  width: calc(75% - 10px);
  height: calc(23% -10px);
  border-radius: 10px;
  position: relative;
  margin:10px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  background-color:#BE3455;
}

.card-wrapper:hover{
  cursor: pointer;
}
.card-wrapper:active {
  cursor: pointer;
  transform: scale(0.97);
  transition: transform 0.2s;
}
.card-wrapper.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
}
.back {
  transform: rotateY(180deg);
}
.card-memory-two{
  display: none;
}
.winner{
  display: none;
}